.weather-chart-container {
    margin: 20px;
    width: 100%; /* Set the width as a percentage of the parent container */
    max-width: 80vw; /* Optional: set a max width */
    margin-left: auto; /* Center align the container */
    margin-right: auto; /* Center align the container */
  }
  
  .weather-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 20px;
    padding-left: 1.6em;
    padding-right: 1.4em;
  }
  
  .weather-icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }
  
  .weather-icon-item span {
    margin-bottom: 5px;
  }
  